{
  "tracerGroups": [
    {
      "entryPoint":"com.xored.q7.runtime.probes.internal.ProbesPlugin#initProbes()",
      "tracers": {
        "com.xored.q7.runtime.probes.internal.OpenFilesMonitor": {
          "handleInputStreamOpen": {
            "point":"enter",
            "method": "java.io.FileInputStream#<init>(java.io.File)"
          },
          "handleOutputStreamOpen": {
            "point":"enter",
            "method": "java.io.FileOutputStream#<init>(java.io.File)"
          },
          "handleInputStreamClose": {
            "point": "enter",
            "method": "java.io.FileInputStream#close()"
          },
          "handleOutputStreamClose": {
            "point": "enter",
            "method": "java.io.FileOutputStream#close()"
          },
          "handleFileDelete": {
            "point": "exit",
            "method": "java.io.File#delete()"
          }
        }
      }
    }
  ]
}
