<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.fantom.pod">
      <pod
            location="/f4pathEnv.pod"
            name="f4pathEnv">
      </pod>
   </extension>
   <extension
         point="com.xored.fanide.core.compileEnv">
      <compileEnv
            class="org.fantom.FanExtension:f4pathEnv::PathCompileEnv">
      </compileEnv>
   </extension>

</plugin>
