<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.fantom.pod">
      <pod
            location="/f4astView.pod"
            name="f4astView">
      </pod>
   </extension>
   <extension
         point="org.eclipse.ui.views">
		<view
			class="org.fantom.FanExtension:AstView"
			id="com.xored.f4.astView.AstView"
			icon="/icons/obj16/fan_obj.gif" 
			name="AST View">
		</view>
   </extension>

</plugin>
