<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		id="ide"
		point="org.eclipse.core.runtime.products">
		<product
            application="org.eclipse.ui.ide.workbench"
            description="%productBlurb"
            name="%productName">
            <property name="windowImages" value="f4.gif,f4_32.gif,f4_48.gif,f4_64.gif,f4_128.gif,f4.png,f4_32.png,f4_48.png,f4_64.png,f4_128.png"/>
            <property name="aboutImage" value="f4-about.png"/>
            <property name="aboutText" value="%productBlurb"/>
            <property name="appName" value="F4"/>
            <property name="preferenceCustomization" value="plugin_customization.ini"/> 
            <property
                name="startupProgressRect"
                value="298,223,179,18">
            </property>
			<property
				name="startupForegroundColor"
				value="FFFFFF">
			</property>
			<property
				name="startupMessageRect"
                value="298,200,175,21">
			</property>
		</product>
	</extension>
</plugin>
