<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
      <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="com.xored.fanide.internal.ui.FanUIPreferenceInitializer"/>
    </extension>
    
    

  <extension point="org.eclipse.ui.editorActions">
    <editorContribution
      targetID="com.xored.fanide.ui.editor.FanEditor"
      id="com.xored.fanide.ui.editor.FanEditor.ruler">
      <action
        label="%action.label"
        class="org.eclipse.dltk.ui.actions.ScriptEditorRulerActionDelegate:com.xored.fanide.core.nature"
        actionID="RulerClick"
        id="com.xored.fanide.ui.internal.ui.editor.FanSelectRulerAction">
      </action>
    </editorContribution>
  </extension>   
   
  <extension
         point="org.eclipse.ui.contexts">
      <context
            name="%FanEditContext.name"
            description="%FanEditContext.description"
            parentId="org.eclipse.dltk.ui.scriptEditorScope"
            id="org.eclipse.dltk.ui.FanEditorScope">
      </context>
  </extension>
	
	<extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.xored.fanide.ui"
            name="%FanWizardsCategory.name"
            >
      </category>
      <wizard
            category="com.xored.fanide.ui"
            class="com.xored.fanide.internal.ui.wizards.FanProjectCreationWizard"
            finalPerspective="com.xored.fanide.ui.FanPerspective"
            icon="$nl$/icons/etool16/newprj_wiz.gif"
            id="com.xored.fanide.ui.internal.wizards.newproject"
            name="%wizard.name"
            preferredPerspectives="com.xored.fanide.ui.FanPerspective"
            project="true">
         <description>
            %wizard.description
         </description>
      </wizard>
      <wizard
            category="com.xored.fanide.ui"
            class="com.xored.fanide.internal.ui.wizards.FanNewClassWizard"
            icon="icons/etool16/newfile_wiz.gif"
            id="com.xored.fanide.ui.internal.wizards.newclass"
            name="%wizard.name.0">
         <description>
            %NewClassWizard.description
         </description>
      </wizard>
      <wizard
            category="com.xored.fanide.ui"
            class="com.xored.fanide.internal.ui.wizards.FanNewMixinWizard"
            icon="icons/etool16/newfile_wiz.gif"
            id="com.xored.fanide.ui.internal.wizards.newmixin"
            name="%wizard.name.1">
         <description>
            %NewMixinWizard.description
         </description>
      </wizard>
      <wizard
            category="com.xored.fanide.ui"
            class="com.xored.fanide.internal.ui.wizards.FanNewEnumWizard"
            icon="icons/etool16/newfile_wiz.gif"
            id="com.xored.fanide.ui.internal.wizards.newenum"
            name="%wizard.name.2">
         <description>
            %NewEnumWizard.description
         </description>
      </wizard>
      <wizard
            category="com.xored.fanide.ui"
            class="com.xored.fanide.internal.ui.wizards.FanNewScriptWizard"
            icon="icons/etool16/newfile_wiz.gif"
            id="com.xored.fanide.ui.internal.wizards.newscript"
            name="%wizard.name.3">
         <description>
            %NewScriptWizard.description
         </description>
      </wizard>
      <wizard
            category="com.xored.fanide.ui"
            class="com.xored.fanide.internal.ui.wizards.FanNewPackageWizard"
            icon="icons/etool16/newfile_wiz.gif"
            id="com.xored.fanide.ui.internal.wizards.newpackage"
            name="%wizard.name.4">
         <description>
            %NewPackageWizard.description
         </description>
      </wizard>
      <wizard
            category="com.xored.fanide.ui"
            class="org.eclipse.dltk.ui.wizards.NewSourceFolderCreationWizard"
            icon="/icons/etool16/newpackfolder_wiz.gif"
            id="com.xored.fanide.ui.internal.wizards.newfolder"
            name="%wizard.name.5">
         <description>
            %NewPackageWizard.description
         </description>
      </wizard>
      </extension>
	 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="com.xored.fanide.internal.ui.FanPerspective"
          icon="$nl$/icons/eview16/fan_persp.png"
          id="com.xored.fanide.ui.FanPerspective"
          name="%FanPerspective.name"/>
 </extension>

	<extension
			point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
				targetID="com.xored.fanide.ui.FanPerspective">
   <showInPart
         id="com.xored.fanide.ui.explorer">
   </showInPart>
		</perspectiveExtension>
	</extension>
    
    <extension
       point="org.eclipse.ui.editors.templates">
       <contextType
          class="com.xored.fanide.internal.ui.templates.FanUniversalTemplateContextType"
          id="FanUniversalTemplateContextType"
          name="%FanTemplateContext.name">
       </contextType> 
       <contextType
          class="org.eclipse.dltk.ui.text.templates.SourceModuleTemplateContextType"
          id="com.xored.fanide.text.template.type.fan"
          name="%FanFileContextType.name">
       </contextType>
       <contextType
          class="org.eclipse.dltk.ui.text.templates.SourceModuleTemplateContextType"
          id="com.xored.fanide.text.template.class.fan"
          name="%FanClassContextType.name">
       </contextType>
       <include
          file="templates/templates.xml"
          translations="templates/templates.properties">
       </include>         
       <include
          file="templates/file-templates.xml"
          translations="templates/file-templates.properties">
       </include> 
    </extension>

    <extension
       point="org.eclipse.ui.preferencePages">
       <page	          
	          class="com.xored.fanide.internal.ui.preferences.FanGlobalPreferencesPage"
	          id="com.xored.fanide.ui.preferences"
	          name="%FanPreferencePage.name"/>       
	    <page
	          category="com.xored.fanide.ui.preferences"
	          class="com.xored.fanide.internal.ui.preferences.FanEditorPreferencesPage"
	          id="com.xored.fanide.ui.preferences.editor"
	          name="%FanEditorPreferencePage.name"/>
        <page
              category="com.xored.fanide.ui.preferences"
              class="com.xored.fanide.internal.ui.preferences.FanCodeTemplatesPreferencePage"
              id="com.xored.fanide.ui.preferences.code.templates"
              name="%page.name"/>
        <page
              category="com.xored.fanide.ui.preferences.editor"
              class="com.xored.fanide.internal.ui.templates.FanCodeTemplatesPreferencePage"
              id="com.xored.fanide.ui.editor.Templates"
              name="%FanEditorTemplatesPreferencePage.name"/>
        <page
              category="com.xored.fanide.ui.preferences.editor"
              class="org.eclipse.dltk.ui.preferences.ScriptEditorHoverPreferencePage:com.xored.fanide.core.nature"
              id="com.xored.fanide.ui.editor.Hovers"
              name="%FanEditorHoversPreferencePage.name"/>
        <page
              category="com.xored.fanide.ui.preferences.editor"
              class="com.xored.fanide.internal.ui.preferences.FanEditorSyntaxColoringPreferencePage"
              id="com.xored.fanide.ui.editor.SyntaxColoring"
              name="%FanEditorSyntaxColoringPreferencePage.name"/>
	    <page
	          category="com.xored.fanide.ui.preferences.editor"
	          class="com.xored.fanide.internal.ui.preferences.FanSmartTypingPreferencePage"
	          id="com.xored.fanide.ui.editor.SmartTyping"
	          name="%FanEditorSmartTypingPreferencePage.name"/>       	             
	    <page
          category="com.xored.fanide.ui.preferences.editor"
          class="com.xored.fanide.internal.ui.preferences.FanFoldingPreferencePage"
          id="com.xored.fanide.ui.editor.FanFolding"          
          name="%FanEditorFoldingPreferencePage.name"/>
        <page
          category="com.xored.fanide.ui.preferences"
          class="com.xored.fanide.internal.ui.preferences.FanTodoTaskPreferencePage"
          id="com.xored.fanide.ui.preferences.todo"
          name="%FanTaskTags.name"/>  	    
	 </extension>
  <extension
       point="org.eclipse.ui.propertyPages">
    <page
          category="com.xored.fanide.ui.propertyPage"
          class="com.xored.fanide.internal.ui.preferences.FanBuildPathPropertyPage"
          id="com.xored.fanide.ui.BuildpathProperties"
          name="%FanBuildPathPropertyPage.name">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="com.xored.fanide.core.nature"/>
        </adapt>         
      </enabledWhen>
      <keywordReference
        id="org.eclipse.dltk.ui.buildpath" />
    </page>
    <page
          category="com.xored.fanide.ui.propertyPage"
          class="com.xored.fanide.internal.ui.preferences.FanTodoTaskPreferencePage"
          id="com.xored.fanide.ui.propertyPage.todo"
          name="%FanTodoPropertyPage.name">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="com.xored.fanide.core.nature"/>
        </adapt>         
      </enabledWhen>
    </page>    
    <page
      name="%FanPropertyPage.name"
      class="com.xored.fanide.internal.ui.preferences.FanPropertyPage"
      id="com.xored.fanide.ui.propertyPage">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="com.xored.fanide.core.nature"/>
        </adapt>         
      </enabledWhen>
    </page>   
    <page
      category="com.xored.fanide.ui.propertyPage"
	  name="%page.name.0"
      class="com.xored.fanide.internal.ui.preferences.FanSourceAttachmentPropertyPage"
      id="com.xored.fanide.ui.propertyPage.sourceattachment">
      <enabledWhen>
		      <instanceof value="com.xored.fanide.internal.core.model.PodFragment"/>
	  </enabledWhen>
    </page>
     
 </extension>
 <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.ui.edit.text.actionSet.presentation">
         <part
               id="com.xored.fanide.ui.editor.FanEditor">
         </part>
	 </actionSetPartAssociation>
	  <actionSetPartAssociation
            targetID="org.eclipse.dltk.ui.A_OpenActionSet">
         <part id="com.xored.fanide.ui.editor.FanEditor"/>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.dltk.ui.ScriptCodingActionSet">
         <part
               id="com.xored.fanide.ui.editor.FanEditor">
         </part>
      </actionSetPartAssociation>
	  <actionSetPartAssociation
            targetID="com.xored.fanide.ui.SearchActionSet">
         <part
               id="org.eclipse.dltk.ui.ScriptExplorer">
         </part>
         <part
               id="com.xored.fanide.ui.editor.FanEditor">
         </part>
         <part
               id="org.eclipse.search.SearchResultView">
         </part>
         <part
               id="com.xored.fanide.ui.explorer">
         </part>
      </actionSetPartAssociation>
 </extension>
   <extension
       point="org.eclipse.dltk.ui.language">
    <language
          class="com.xored.fanide.internal.ui.FanUILanguageToolkit"
          nature="com.xored.fanide.core.nature"/>
 </extension> 
 
 
 <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            location="TOP_LEFT"
            lightweight="true"
            label="%FanProjectDecorator.name"
            state="true"
            class="org.eclipse.dltk.ui.DeclarativeLightweightLabelDecorator:/icons/ovr16/fan_ovr.gif"
            id="com.xored.fanide.ui.decorators.projectdecorator">
         <enablement>
            <and>
            	<objectClass name="org.eclipse.core.resources.IProject"/>
             <objectState
                   name="nature"
                   value="com.xored.fanide.core.nature">
             </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
    <extension
      point="org.eclipse.ui.actionSets">
   <actionSet
         id="com.xored.fanide.ui.actionSet"
         label="%FanActionSets.label">
          <action
                class="com.xored.fanide.internal.ui.actions.FanOpenTypeAction"
                definitionId="com.xored.fanide.ui.navigate.open.type"
                icon="icons/etool16/opentype.gif"
                id="openType"
                label="%FanOpenType.label"
                menubarPath="navigate/open.ext2"
                toolbarPath="org.eclipse.search.searchActionSet/Search"
                tooltip="%FanOpenType.tooltip">
         </action>
          <action
                class="com.xored.fanide.internal.ui.actions.FanOpenTypeInHierarchyAction"
                id="openTypeInHierarchy"
                label="%OpenTypeInHierarchyAction.label"
                menubarPath="navigate/open.ext2"
                tooltip="%OpenTypeInHierarchyAction.tooltip">
          </action>
   </actionSet>
</extension>
    <!--extension
          point="org.eclipse.ui.editors.templates">
       <contextType
             class="com.xored.fanide.internal.ui.templates.FanUniversalTemplateContextType"
             id="FanUniversalTemplateContextType"
             name="%FanTemplateContext.name">
       </contextType>
       <include
             file="templates/templates.xml"
             translations="templates/templates.properties">
       </include>
    </extension-->
    
   <!--extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.xored.fanide.ui.addFanNature"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="com.xored.fanide.internal.ui.actions.AddFanNatureAction"
               enablesFor="+"
               id="com.xored.fanide.ui.AddFanNature"
               label="%action.label.0"
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               style="push">
         </action>
         <visibility>
         <not>
         <objectState
               name="nature"
               value="com.xored.fanide.core.nature">
         </objectState>
         </not>
         </visibility>
      </objectContribution>
   </extension-->
   <extension
         point="org.eclipse.dltk.ui.modelContentProvider">
      <modelContentProvider
            class="com.xored.fanide.internal.ui.navigator.FanModelContentProvider"
            id="com.xored.fanide.ui.fanModelProvider"
            language="com.xored.fanide.core.nature">
      </modelContentProvider>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.modelLabelProvider">
      <modelLabelProvider
            class="com.xored.fanide.internal.ui.navigator.FanModelLabelProvider"
            id="com.xored.fanide.ui.fanModelLabelProvider"
            language="com.xored.fanide.core.nature">
      </modelLabelProvider>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.modelCompareProvider">
      <modelCompareProvider
            class="com.xored.fanide.internal.ui.navigator.FanModelCompareProvider"
            id="com.xored.fanide.fan.modelCompareProvider"
            language="com.xored.fanide.core.nature">
      </modelCompareProvider>
   </extension> 
<extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%actionSet.label"
            description="%actionSet.description"
            visible="false"
            id="com.xored.fanide.ui.SearchActionSet">
         <menu
               label="%menu.label.0"
               path="navigate"
               id="org.eclipse.search.menu">
			   <groupMarker name="dialogFanGroup"/>
         </menu>   
         <action
               label="%action.label.1"
               icon="$nl$/icons/obj16/search_obj.gif"
               class="com.xored.fanide.internal.ui.actions.OpenFanSearchPageAction"
               menubarPath="org.eclipse.search.menu/dialogFanGroup"
               id="com.xored.fanide.ui.actions.OpenFanSearchPage">
         </action>
  </actionSet>
 </extension>
 

   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.xored.fanide.ui"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/eview16/fan_persp.png"
            id="com.xored.fanide.ui.explorer"
            name="%view.name"
            restorable="true">
      </view>
      <category
            id="com.xored.fanide.ui"
            name="%category.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.xored.fanide.ui.explorer">
            <options> 
            <!-- Hide the "Available Extensions" tab in the "Available Customizations" 
                 dialog (available from the "Filters" action -->
            <property
                  name="org.eclipse.ui.navigator.hideAvailableExtensionsTab"
                  value="true"/>
            <!-- Hide the "Available Customizations" dialog completely. This includes hiding the 
              filters and the available content extensions. -->
            <property
                  name="org.eclipse.ui.navigator.hideAvailableCustomizationsDialog"
                  value="false"/> 
            
            <!-- Hide the "Collapse All" action from the toolbar of the viewer -->
            <property
                  name="org.eclipse.ui.navigator.hideCollapseAllAction"
                  value="false"/>  
         </options>
      </viewer>
      <viewerContentBinding
            viewerId="com.xored.fanide.ui.explorer">
         <includes>
            <contentExtension
                  pattern="com.xored.fanide.ui.fanExplorerContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.jdt.java.ui.javaContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="com.xored.fanide.ui.scriptLinkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.jdt.java.ui.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.rse.project.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.dltk.internal.ui.PackageExplorer.EmptyInnerPackageFilter">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.dltk.script.ui.filters.*">
            </contentExtension></includes>
      </viewerContentBinding>
     <viewerActionBinding
            viewerId="com.xored.fanide.ui.explorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.NewActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.actions.RefactorActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.ResourceMgmtActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.WorkingSetActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PropertiesActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.GoIntoActions">
            </actionExtension>
         </includes>
      </viewerActionBinding> 
      
      
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.xored.fanide.internal.ui.explorer.FanNavigatorContentProvider"
            icon="icons/eview16/fan_persp.png"
            id="com.xored.fanide.ui.fanExplorerContent"
            labelProvider="com.xored.fanide.internal.ui.explorer.FanNavigatorLabelProvider"
            name="%navigatorContent.name"
            priority="high">
         <triggerPoints>
            <or>
               <and>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <test
                           property="org.eclipse.dltk.hasScriptNature"
                           value="true">
                     </test>
                  </adapt>
               </and>
               <instanceof
                     value="org.eclipse.dltk.core.IModelElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.dltk.internal.core.ArchiveEntryFile">
               </instanceof>
			   <instanceof
                  value="com.xored.fanide.internal.core.model.PodEntryFile">
            	</instanceof>
               <instanceof
                     value="org.eclipse.dltk.internal.core.ExternalEntryFile">
               </instanceof>
               <instanceof
                     value="org.eclipse.dltk.internal.ui.scriptview.BuildPathContainer">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="org.eclipse.dltk.core.IModelElement">
               </instanceof>
               <instanceof 
                     value="org.eclipse.dltk.internal.core.ArchiveEntryFile">
               </instanceof>
                           <instanceof
                  value="com.xored.fanide.internal.core.model.PodEntryFile">
            </instanceof>
               <instanceof
                     value="org.eclipse.dltk.internal.core.ExternalEntryFile">
               </instanceof>
               <instanceof
                     value="org.eclipse.dltk.internal.ui.scriptview.BuildPathContainer">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="org.eclipse.dltk.ui.ModelElementSorter"
               id="org.eclipse.dltk.ui.ModelElementSorter">
         </commonSorter>
         <override
               policy="InvokeAlwaysRegardlessOfSuppressedExt"
               suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
         </override>
         <actionProvider
               class="com.xored.fanide.internal.ui.explorer.FanExplorerNavigateActionProvider"
               overrides="org.eclipse.ui.navigator.resources.OpenActions">
            <enablement>
               <or>
                  <instanceof
                        value="org.eclipse.dltk.core.IModelElement">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.dltk.internal.core.ArchiveEntryFile">
                  </instanceof>
                              <instanceof
                  value="com.xored.fanide.internal.core.model.PodEntryFile">
            </instanceof>
                  <instanceof
                        value="org.eclipse.dltk.internal.core.ExternalEntryFile">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.dltk.internal.ui.scriptview.BuildPathContainer">
                  </instanceof>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IResource">
                     </instanceof>
                     <not>
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                     </not>
                  </and>
               </or>
            </enablement>
         </actionProvider>
         <actionProvider
               class="org.eclipse.dltk.internal.ui.navigator.ScriptExplorerActionProvider">
            <enablement>
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IWorkspaceRoot">
                  </instanceof>
                  <adapt
                        type="java.util.Collection">
                     <count
                           value="0">
                     </count>
                  </adapt>
               </or>
            </enablement>
         </actionProvider>
         <actionProvider
               class="com.xored.fanide.internal.ui.explorer.FanExplorerActionProvider"
               id="com.xored.fanide.ui.explorer.StandardActions"
               overrides="org.eclipse.ui.navigator.resources.actions.EditActions">
            <enablement>
               <or>
                  <instanceof
                        value="org.eclipse.dltk.core.IModelElement">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.dltk.internal.core.ArchiveEntryFile">
                  </instanceof>
                              <instanceof
                  value="com.xored.fanide.internal.core.model.PodEntryFile">
            </instanceof>
                  <instanceof
                        value="org.eclipse.dltk.internal.core.ExternalEntryFile">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.dltk.internal.ui.scriptview.BuildPathContainer">
                  </instanceof>
                  <and>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.dltk.hasScriptNature"
                              value="true">
                        </test>
                     </adapt>
                  </and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
               </or>
            </enablement>
         </actionProvider>
         <actionProvider
               class="com.xored.fanide.internal.ui.explorer.ScriptPortingActionProvider"
               id="com.xored.fanide.ui.explorer.actions.portingActions">
            <enablement>
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.dltk.core.IModelElement">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.dltk.internal.core.ArchiveEntryFile">
                  </instanceof>
                              <instanceof
                  value="com.xored.fanide.internal.core.model.PodEntryFile">
            </instanceof>
                  <instanceof
                        value="org.eclipse.dltk.internal.core.ExternalEntryFile">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.dltk.internal.ui.scriptview.BuildPathContainer">
                  </instanceof>
                  <adapt
                        type="java.util.Collection">
                     <count
                           value="0">
                     </count>
                  </adapt>
               </or>
            </enablement>
         </actionProvider>
         <actionProvider
               class="com.xored.fanide.internal.ui.explorer.ScriptNewActionProvider"
               overrides="org.eclipse.ui.navigator.resources.NewActions">
            <enablement>
               <or>
                  <instanceof
                        value="org.eclipse.dltk.core.IModelElement">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.dltk.internal.core.ArchiveEntryFile">
                  </instanceof>
                              <instanceof
                  value="com.xored.fanide.internal.core.model.PodEntryFile">
            </instanceof>
                  <instanceof
                        value="org.eclipse.dltk.internal.core.ExternalEntryFile">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.dltk.internal.ui.scriptview.BuildPathContainer">
                  </instanceof>
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IResource">
                     </instanceof>
                     <not>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                     </not>
                  </and>
               </or>
            </enablement>
         </actionProvider>
         <actionProvider
               class="com.xored.fanide.internal.ui.explorer.FanExplorerRefactorActionProvider"
               id="com.xored.fanide.ui.explorer.RefactorActions"
               overrides="org.eclipse.ui.navigator.resources.actions.RefactorActions">
            <enablement>
               <or>
                  <instanceof
                        value="org.eclipse.dltk.core.IModelElement">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.dltk.internal.core.ArchiveEntryFile">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.dltk.internal.core.ExternalEntryFile">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.dltk.internal.ui.scriptview.BuildPathContainer">
                  </instanceof>
                  <and>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.dltk.hasScriptNature"
                              value="true">
                        </test>
                     </adapt>
                  </and>
               </or>
            </enablement>
         </actionProvider>
        <!-- <actionProvider
               class="com.xored.fanide.internal.ui.explorer.FanMgmtActionProvider"
               overrides="org.eclipse.ui.navigator.resources.ResourceMgmtActions">
            <enablement>
               <or>
                  <instanceof
                        value="org.eclipse.dltk.core.IModelElement">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.dltk.internal.core.ArchiveEntryFile">
                  </instanceof>
                  <instanceof
                        value="com.xored.fanide.internal.core.model.PodEntryFile">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.dltk.internal.core.ExternalEntryFile">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.dltk.internal.ui.scriptview.BuildPathContainer">
                  </instanceof>
                  <and>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.dltk.hasScriptNature"
                              value="true">
                        </test>
                     </adapt>
                  </and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
               </or>
            </enablement>
         </actionProvider> -->
         <commonWizard
               menuGroupId="com.xored.fanide.ui"
               type="new"
               wizardId="com.xored.fanide.ui.internal.wizards.newclass">
            <enablement>
               <or>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="com.xored.fanide.core.nature">
                     </test>
                  </adapt>
                  <adapt
                        type="java.util.Collection">
                     <count
                           value="0">
                     </count>
                  </adapt>
               </or>
            </enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="com.xored.fanide.ui"
               type="new"
               wizardId="com.xored.fanide.ui.internal.wizards.newmixin">
            <enablement>
               <or>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="com.xored.fanide.core.nature">
                     </test>
                  </adapt>
                  <adapt
                        type="java.util.Collection">
                     <count
                           value="0">
                     </count>
                  </adapt>
               </or>
            </enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="com.xored.fanide.ui"
               type="new"
               wizardId="com.xored.fanide.ui.internal.wizards.newenum">
            <enablement>
               <or>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="com.xored.fanide.core.nature">
                     </test>
                  </adapt>
                  <adapt
                        type="java.util.Collection">
                     <count
                           value="0">
                     </count>
                  </adapt>
               </or>
            </enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="com.xored.fanide.ui"
               type="new"
               wizardId="com.xored.fanide.ui.internal.wizards.newscript">
            <enablement>
               <or>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="com.xored.fanide.core.nature">
                     </test>
                  </adapt>
                  <adapt
                        type="java.util.Collection">
                     <count
                           value="0">
                     </count>
                  </adapt>
               </or>
            </enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="com.xored.fanide.ui"
               type="new"
               wizardId="com.xored.fanide.ui.internal.wizards.newpackage">
            <enablement>
               <or>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="com.xored.fanide.core.nature">
                     </test>
                  </adapt>
                  <adapt
                        type="java.util.Collection">
                     <count
                           value="0">
                     </count>
                  </adapt>
               </or>
            </enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="com.xored.fanide.ui"
               type="new"
               wizardId="com.xored.fanide.ui.internal.wizards.newfolder">
            <enablement>
               <or>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="com.xored.fanide.core.nature">
                     </test>
                  </adapt>
                  <adapt
                        type="java.util.Collection">
                     <count
                           value="0">
                     </count>
                  </adapt>
               </or>
            </enablement>
         </commonWizard>
         <commonWizard
               menuGroupId="com.xored.fanide.ui"
               type="new"
               wizardId="com.xored.fanide.ui.internal.wizards.newproject">
            <enablement>
               <or>
                  <adapt
                        type="java.util.Collection">
                     <count
                           value="0">
                     </count>
                  </adapt>
               </or>
            </enablement>
         </commonWizard>
         <dropAssistant
               class="org.eclipse.dltk.internal.ui.navigator.ScriptDropAssistant"
               id="com.xored.fanide.ui.dropAssistant">
            <possibleDropTargets>
               <or>
                  <instanceof
                        value="org.eclipse.dltk.core.IModelElement">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
               </or>
            </possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
      
      <commonFilter
		        activeByDefault="false"
		        class="org.eclipse.dltk.internal.ui.filters.EmptyPackageFilter"
		        name="%HideEmptyPackages.label"
		        description="%HideEmptyPackages.description"
		        id="org.eclipse.dltk.script.ui.filters.HideEmptyPackages"/>
  		<commonFilter
		        activeByDefault="true"
		        class="org.eclipse.dltk.internal.ui.filters.EmptyInnerPackageFilter"
		        name="%HideEmptyInnerPackages.label"
		        description="%HideEmptyInnerPackages.description"
		        id="org.eclipse.dltk.script.ui.filters.HideEmptyInnerPackages"/>
  		<commonFilter 
		        class="org.eclipse.dltk.internal.ui.filters.FieldsFilter"
		        name="%HideFields.label"
		        description="%HideFields.description"
		        id="org.eclipse.dltk.script.ui.filters.HideFields"/>
  		<commonFilter
          activeByDefault="false"
          class="org.eclipse.dltk.internal.ui.filters.NonScriptElementFilter"
          description="%HideNonScriptElements.description"
          id="org.eclipse.dltk.script.ui.filters.HideNonJavaElements"
          name="%HideNonScriptElements.label"/>   		
  		<commonFilter
          activeByDefault="false"
          class="org.eclipse.dltk.internal.ui.filters.NonScriptProjectsFilter"
          description="%HideNonScriptProjects.description"
          id="org.eclipse.dltk.script.ui.filters.HideNonJavaProjects"
          name="%HideNonScriptProjects.label"/>
    <commonFilter
          activeByDefault="true"
          class="org.eclipse.dltk.internal.ui.filters.SyntheticMembersFilter"
          description="%HideSyntheticMembers.description"
          id="org.eclipse.dltk.script.ui.filters.SyntheticMembersFilter"
          name="%HideSyntheticMembers.label">
    </commonFilter>   
  	<!--	<commonFilter 
		        class="org.eclipse.dltk.internal.ui.filters.NonSharedProjectFilter"
		        name="%HideNonSharedProjects.label"
		        description="%HideNonSharedProjects.description"
		        id="org.eclipse.dltk.script.ui.filters.HideNonSharedProjects"/> 
  		<commonFilter 
		        class="org.eclipse.dltk.internal.ui.filters.LibraryFilter"
		        name="%HideReferencedLibraries.label"
		        description="%HideReferencedLibraries.description"
		        id="org.eclipse.dltk.script.ui.filters.HideReferencedLibraries"/>  -->  
      
      
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="com.xored.fanide.internal.ui.explorer.ScriptLinkHelper"
            id="com.xored.fanide.ui.scriptLinkHelper">
         <editorInputEnablement>
            <or>
               <instanceof
                     value="org.eclipse.ui.IFileEditorInput">
               </instanceof>
               <instanceof
                     value="org.eclipse.dltk.internal.ui.editor.ExternalStorageEditorInput">
               </instanceof>
            </or>
         </editorInputEnablement>
         <selectionEnablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="org.eclipse.dltk.core.IModelElement">
               </instanceof>
               <instanceof
                     value="org.eclipse.dltk.internal.core.ArchiveEntryFile">
               </instanceof>
                           <instanceof
                  value="com.xored.fanide.internal.core.model.PodEntryFile">
            </instanceof>
               <instanceof
                     value="org.eclipse.dltk.internal.core.ExternalEntryFile">
               </instanceof>
               <instanceof
                     value="org.eclipse.dltk.internal.ui.scriptview.BuildPathContainer">
               </instanceof>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.dltk.hasScriptNature"
                        value="true">
                  </test>
               </adapt>
            </or>
         </selectionEnablement>
      </linkHelper>
   </extension> 
   <extension point="org.eclipse.compare.contentMergeViewers">
      <viewer
            class="com.xored.fanide.internal.ui.compare.FanMergeViewerCreator"
            id="com.xored.fanide.internal.ui.compare.FanMergeViewer">
      </viewer>
      <contentTypeBinding
			contentTypeId="com.xored.fanide.core.contentType"
            contentMergeViewerId="com.xored.fanide.internal.ui.compare.FanMergeViewer">
	  </contentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.ui.edit.text.actionSet.presentation">
         <part id="com.xored.fanide.ui.explorer"/>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.dltk.ui.A_OpenActionSet">
	     <part id="com.xored.fanide.ui.explorer"/>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.dltk.ui.ScriptCodingActionSet">
	     <part id="com.xored.fanide.ui.explorer"/>
      </actionSetPartAssociation>
      </extension>
      <extension point="org.eclipse.ui.actionSetPartAssociations">
		<actionSetPartAssociation
			targetID="org.eclipse.debug.ui.launchActionSet">
			<part id="com.xored.fanide.ui.explorer"></part>
		</actionSetPartAssociation>
		<actionSetPartAssociation
			targetID="org.eclipse.dltk.debug.ui.ScriptDebugActionSet">
			<part id="com.xored.fanide.ui.explorer"></part>
		</actionSetPartAssociation>
	</extension>
      <extension
            point="org.eclipse.ui.bindings">
         <key
               commandId="com.xored.fanide.ui.navigate.open.type"
               contextId="org.eclipse.dltk.ui.FanEditorScope"
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="M1+M2+T">
         </key>
         <key
               commandId="com.xored.fanide.ui.navigate.open.type"
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="M1+M2+6">
         </key>
      </extension>
      
 	<extension
       point="org.eclipse.ui.commands">
       <command
            name="Open Fantom type"
            description="Open Fantom type"
            categoryId="org.eclipse.ui.category.navigate"
            id="com.xored.fanide.ui.navigate.open.type">
         </command>
	</extension>
</plugin>
