<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.fantom.pod">
      <pod
            location="/f4jdtLaunchingUI.pod"
            name="f4jdtLaunchingUI">
      </pod>
   </extension>
  <extension point="org.eclipse.jdt.ui.classpathContainerPage">
  	<classpathContainerPage 
  		id="com.xored.fanide.jdt.launching.FANJAVA_CONTAINER"
  		name="Fantom Java Container"
  		class="org.fantom.FanExtension:f4jdtLaunchingUI::FanJavaContainerPage"/>
  </extension>
  <extension
        point="com.xored.f4.fanSourceDirector">
     <directorFactory
           className="f4jdtLaunchingUI::SourceDirectorFactory">
     </directorFactory>
  </extension>
</plugin>
