<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.fantom.pod">
      <pod
            location="f4fcodeUi.pod"
            name="f4fcodeUi">
      </pod>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.fantom.FanExtension:f4fcodeUi::FcodeEditor"
            default="true"
            extensions="fcode"
            id="com.xored.f4.fcode.ui.editor.FcodeEditor"
            nature="com.xored.fanide.core.nature"
            name="Fcode Viewer">
      </editor>
   </extension>
</plugin>
