.domkit-border { border: 1px solid #bbb; }
.domkit-border-top    { border-top:    1px solid #bbb; }
.domkit-border-right  { border-right:  1px solid #bbb; }
.domkit-border-bottom { border-bottom: 1px solid #bbb; }
.domkit-border-left   { border-left:   1px solid #bbb; }
.domkit-sel {
  background-color: #dcdcdc !important;
}
:focus .domkit-sel, .domkit-sel.pin {
  background-color: #3498db !important;
  color: #fff !important;
}
:focus .domkit-sel a {
  color: #fff !important;
}
.domkit-noselect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.domkit-control {
  box-sizing: border-box;
  display: inline-block;
  font: inherit;
  margin: 0;
  padding: 5px 0;
  line-height: 1.2;
  vertical-align: top;
}
.domkit-control:not(input):empty:before {
  content: "\200b";
}
.domkit-control[disabled],
.domkit-control.disabled { opacity: 0.3; }
.domkit-control[readonly],
.domkit-control.readonly { background: #f8f8f8; }
/* this disables hrefs links */
a.domkit-control.disabled { pointer-events:none; }
.domkit-resize-splitter {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
}
.domkit-control-button {
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 3px;
  padding: 4px 10px;
  cursor: default;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.domkit-control-button:hover { background: #f5f5f5; }
.domkit-control-button.down  { background: #ddd; }
.domkit-control-button.selected,
.domkit-control-button.selected:hover {
  color: #fff;
  background-color: hsl(204, 70%, 53%); /*#3498db;*/
  border-color: hsl(204, 70%, 43%);
}
.domkit-control-button.def-action {
  color: #fff;
  background: hsl(204, 70%, 53%);
  border-color: hsl(204, 70%, 43%);
}
.domkit-control-button.def-action.down {
  background: hsl(204, 70%, 43%);
}
.domkit-control-text {
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 2px;
  margin: 0;
  padding: 4px;
}
.domkit-control-button:focus,
.domkit-control-text:focus {
  border-color: #3498db;
}
.domkit-control-button.def-action:focus {
  background: hsl(204, 70%, 60%);
  border-color: hsl(204, 70%, 43%);
}
.domkit-control-button.def-action.down:focus {
  background: hsl(204, 70%, 43%);
}
.domkit-control.group-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.domkit-control.group-middle {
  border-radius: 0;
  border-left: none;
}
.domkit-control.group-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}
.domkit-control.disclosure {
  position: relative;
  text-align: left;
  padding-right: 20px;
  overflow: hidden;
}
.domkit-control.disclosure:after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #555;
}
.domkit-control.disclosure-list {
  position: relative;
  text-align: left;
  padding-right: 20px;
  overflow: hidden;
}
.domkit-control.disclosure-list:before {
  content: "";
  position: absolute;
  top: calc(50% - 6px);
  right: 5px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 4px solid #555;
}
.domkit-control.disclosure-list:after {
  content: "";
  position: absolute;
  bottom: calc(50% - 6px);
  right: 5px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555;
}

div.domkit-AccordionBox {
  overflow-x: hidden;
  overflow-y: auto;
}

div.domkit-Box {
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
}

div.domkit-Button {
  outline: none;
}
div.domkit-Button:focus {
  z-index: 2;
  position: relative;  /* needed to make z-index work */
}

div.domkit-CardBox {
}

input.domkit-Checkbox {
  position: relative;
  bottom: -2px;
  margin:  0;
  padding: 0;
}
label input.domkit-Checkbox + span.domkit-Label {
  margin-left: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
input.domkit-Checkbox[disabled] + span.domkit-Label {
  opacity: 0.3;
}

div.domkit-Combo {
  box-sizing: border-box;
  display: inline-block;
  white-space: nowrap;
}
div.domkit-Combo input.domkit-TextField {
  width: calc(100% - 23px);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
div.domkit-Combo div.domkit-Button {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 23px;
  padding-left:  0;
  padding-right: 0;
}
div.domkit-Combo div.domkit-ListButton:before { right: 8px; }
div.domkit-Combo div.domkit-ListButton:after  { right: 8px; }

div.domkit-Dialog {
  outline: none;
}
div.domkit-Dialog-frame {
  background: #f2f2f2;
  border: 1px solid #aaa;
  border-radius: 4px 4px 0 0;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.4);
  max-width:  calc(100% - 24px);
  max-height: calc(100% - 24px);
}
div.domkit-Dialog-title {
  text-align: center;
  display: block;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
div.domkit-Dialog-title .def-label {
  font-weight: 500;
}
div.domkit-Dialog-mask {
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  display: -webkit-flex;
          align-items: center;
  -webkit-align-items: center;
          justify-content: center;
  -webkit-justify-content: center;
}

.domkit-dnd-over::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2ecc71;
  opacity: 0.3;
}

div.domkit-FlexBox {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display: flex;
}

div.domkit-FlipBox {
  -webkit-perspective: 800px;
     -moz-perspective: 800px;
          perspective: 800px;
}
.domkit-FlipBox-card {
  width:  100%;
  height: 100%;
  position: relative;
  -webkit-transition: -webkit-transform .5s;
     -moz-transition: -moz-transform .5s;
          transition: transform .5s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.domkit-FlipBox-card.flip {
  -webkit-transform: rotateY(-180deg);
     -moz-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.domkit-FlipBox-front,
.domkit-FlipBox-back {
  z-index: 1;
  position: absolute !important;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
}
.domkit-FlipBox-back {
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

div.domkit-FlowBox {
}

div.domkit-GridBox {
}
div.domkit-GridBox table {
  border-collapse: collapse;
}
div.domkit-GridBox table td {
  padding: 0;
}

span.domkit-Label {}

div.domkit-ListButton {}
div.domkit-ListButton > div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.domkit-ListButton-MenuItem.domkit-MenuItem {
  white-space: nowrap;
  padding-left: 22px;
}
div.domkit-ListButton-MenuItem.domkit-MenuItem.sel {
  padding-left: 6px;
}
div.domkit-ListButton-MenuItem.domkit-MenuItem.sel:before {
  content: "\2713";
  width: 16px;
  float: left;
}

div.domkit-Menu {
  background: #fff !important;
  border-radius: 3px;
  overflow: auto;
  outline: none;
  padding: 5px 0;
}
div.domkit-MenuItem {
  display: block;
  padding-left: 10px;
  padding-right: 20px;
  min-width: 100px;
  cursor: default;
}

div.domkit-Popup {
  position: absolute;
  outline: none;
  background: rgba(248, 248, 248, 0.95);
  border: 1px solid #ddd;
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
div.domkit-Popup-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

div.domkit-ProgressBar {
  width: 200px;
}

input.domkit-RadioButton {
  position: relative;
  bottom: -2px;
  margin:  0;
  padding: 0;
}
label input.domkit-RadioButton + span.domkit-Label {
  padding-left: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
input.domkit-RadioButton[disabled] + span.domkit-Label {
  opacity: 0.3;
}

div.domkit-SashBox {
  overflow: hidden;  /* required for dir=right */
  position: relative;
}
div.domkit-SashBox-div {}

div.domkit-ScrollBox {
  overflow: auto;
}

div.domkit-Sheet {
  position: absolute;
  overflow: hidden;
  outline: none;
}
div.domkit-Sheet-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

div.domkit-Table {
  position: relative;
  background: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box;
}
div.domkit-Table:focus {
  outline: none;
}
div.domkit-Table-scrollbar {
  position: absolute;
  box-sizing: border-box;
  background: transparent;
  border: 0px solid transparent;
  overflow: hidden;
  -webkit-transition: background 200ms 1s, border-color 1s 1s;
     -moz-transition: background 200ms 1s, border-color 1s 1s;
          transition: background 200ms 1s, border-color 1s 1s;
}
div.domkit-Table-scrollbar > div {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: background 500ms 1s;
     -moz-transition: background 500ms 1s;
          transition: background 500ms 1s;
}
div.domkit-Table-scrollbar:hover {
  background: rgba(255, 255, 255, 0.9);
  border-color: #ccc;
  -webkit-transition: background 100ms, border-color 500ms;
     -moz-transition: background 100ms, border-color 500ms;
          transition: background 100ms, border-color 500ms;
}
div.domkit-Table-scrollbar.active > div,
div.domkit-Table-scrollbar:hover > div {
  background: #777;
  -webkit-transition: background 250ms;
     -moz-transition: background 250ms;
          transition: background 250ms;
}
div.domkit-Table-thead {
  /* required */
  position: absolute;
  width: 100%;
  overflow: hidden;
  /* style */
  box-sizing: border-box;
  background: #ececee;
  border-bottom: 1px solid #a9a9a9;
}
div.domkit-Table-header-popup {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  right: 0;
  padding: 2px 4px;
  background: #ececee;
  border-left: 1px solid #a9a9a9;
}
div.domkit-Table-header-popup:active {
  background: #ddd;
}
div.domkit-Table-header-popup div {
  width: 12px;
  height: 1px;
  background-color: #999;
  margin: 3px 0;
}
div.domkit-Table-header-sort:before {
  content: "\25bc";
  color: #999;
  font-size: 10px;
  float: right;
}
div.domkit-Table-header-sort.popup {
  padding-right: 26px;
}
div.domkit-Table-header-sort.up:before {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
          transform: rotate(180deg);
}
div.domkit-Table-tbody {
  position: absolute;
  bottom: 0px;
  width: 100%;
  overflow: hidden;
}
div.domkit-Table-header {
  position: absolute;
  box-sizing: border-box;
  border-right: 1px solid #a9a9a9;
  padding: 0 4px;
  font-size: 11px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.domkit-Table-header:active { background: #ddd; }
div.domkit-Table-header.last { border-right: none; }
div.domkit-Table-cell {
  position: absolute;
  box-sizing: border-box;
  border-right: 1px solid #e4e4e5;
  padding: 0 4px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.domkit-Table-cell.last { border-right: none; }
div.domkit-Table-cell.odd  { background: #fff; }
div.domkit-Table-cell.even { background: #f9f9fa; }

textarea.domkit-TextArea {
  width: 100%;
  height: 100%;
  outline: none;
}

input.domkit-TextField {
  outline: none;
}
input.domkit-TextField[type='password'] {
  font-family: sans-serif;
}

div.domkit-Tree {
  overflow: auto;
  background: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
div.domkit-Tree:focus {
  outline: none;
}
div.domkit-Tree-node {
  position: relative;
  box-sizing: border-box;
  cursor: default;
  white-space: nowrap;
  padding: 3px 5px;
  line-height: 1;
}
div.domkit-Tree-node-expander {
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  top: calc(50% - 6px);
  width: 16px;
  font-size: 12px;
  color: #888;
  text-align: center;
}
:focus div.domkit-sel div.domkit-Tree-node-expander { color: #fff }
:focus div.domkit-Tree-node.domkit-sel.down { background: #2980b9 !important; }
div.domkit-Tree-node-block.expanded > div.domkit-Tree-node div.domkit-Tree-node-expander {
  -webkit-transform: rotate(90deg);
}
div.domkit-Tree-node div:nth-child(2) {
  display: inline-block;
  width: calc(100% - 20px);
  overflow: hidden;
  text-overflow: ellipsis;
}

div.domkit-WellBox {
  background: #e5e5e5;
  border-radius: 4px;
  padding: 10px;
}

