<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


   <extension id="product"
         point="org.eclipse.core.runtime.products">
         
       <product
    name="F4" application="org.eclipse.ui.ide.workbench" description="F4 -- Ultimate IDE for the Fantom Programming Language">
          <property
                name="appName"
                value="F4">
          </property>
          <property
                name="preferenceCustomization"
                value="plugin_customization.ini">
          </property>
       </product>
         
         
   </extension>

</plugin>
