<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="app"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="true">
         <run
               class="com.xored.f4.ide.F4Application">
         </run>
      </application>
   </extension>
	<extension 
   		id="product"
        point="org.eclipse.core.runtime.products">
   		<product
    		name="F4" 
    		application="com.xored.f4.ide.app" 
    		description="F4 -- Ultimate IDE for the Fantom Programming Language">
          <property
                name="appName"
                value="F4">
          </property>
          <property
                name="preferenceCustomization"
                value="plugin_customization.ini">
          </property>
          <property
                name="startupProgressRect"
                value="0,305,500,5">
          </property>
          <property
                name="startupForegroundColor"
                value="FFFFFF">
          </property>
          <property
                name="startupMessageRect"
                value="30,290,440,15">
          </property>
          <property
                name="aboutImage"
                value="icons/about.png">
          </property>
          <property
                name="aboutText"
                value="F4 IDE">
          </property>
          <property
                name="windowImages"
                value="icons/icon-16.png,icons/icon-32.png,icons/icon-48.png,icons/icon-64.png,icons/icon-128.png">
          </property>
       </product>
   </extension>
</plugin>
