<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dltk.launching.interpreterInstalls">
      <interpreterInstall
      		bundle="."
            home="fantom/bin/fant"
            id="com.xored.f4.fantom.bundled"
            interpreterInstallType="com.xored.fanide.internal.debug.ui.launcher.GenericFanInstallType"
            name="fantom-1.0.60-embedded">
      </interpreterInstall>
   </extension>

</plugin>
